
body {
	background-color: #888 !important;
}
#header {
	text-align: center;
	font-size: 2em;
	margin: 5px;
	background-color: #548ba7;
	padding: 5px 5px;
}

#player-input {
	text-align: center;
	font-size: 1.5em;
	margin: 5px;
	background-color: #8e91bb;
	padding: 5px 5px;
	height: 46px;
}

#submitName {
	margin-bottom: 3px;
}

#playerName {
	height: 35px;
}

#player1, #player2 {
	border: 2px solid #548ba7;
	height: 300px;
	text-align: center;
	font-size: 1.5em;
	color: #666;
	background-color: #333;
	padding-top: 10px;
}


#console {
	border: 2px solid orange;
	height: 300px;
	text-align: center;
	font-size: 1.5em;
	color: #666;
	background-color: #333;
	padding-top: 10px;
}

#player-field {
	margin: 0 auto;
	display: inline block;
	margin-top: 20px;
}

#playerOneChoose, #playerTwoChoose {
	margin-top: 20px;
	display: none;
}


.rock {
	vertical-align: middle;
	width: 38%;
}
#playerOneChoose img.rock:hover {
	opacity: 0.5;
}



.paper {
	vertical-align: top;
	position: absolute;
    width: 33%;
}
#playerOneChoose img.paper:hover {
	opacity: 0.5;
}



.scissors {
	vertical-align: bottom;
	width: 37%;
}
#playerOneChoose img.scissors:hover {
	opacity: 0.5;
}



#typeSmack {
	border: 2px solid #53544f;
	height: 35px;
	background-color: #ccc;
	font-size: 1.5em;
}

#label {
	margin-top: 20px;
	color: #53544f;
}

#smackRead {
	margin-top: 20px;
	height: 100px;
	background-color: #ccc;
	border: 2px solid #53544f;
	overflow: hidden;
}

#submitSmack {
	width: 65px;
    margin-left: 20px;
    text-align: center;
}


